:root{
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --text-primary: black;
  --text-secondary: rgb(87, 87, 87);
  --text-tertiary: white;

  --bg-primary: #2978A0;
  --bg-secondary: #C5D5E4;
  --bg-tertiary: #474242;
  --bg-quaternary: #C1EEFF;
}
html{

  box-sizing: border-box;
}
body{

  height: inherit;
  width: inherit;
  display: grid;
  grid-template-rows: minmax(10vh, 6rem) 10fr 1.5rem;
}



/* HEADER */
header{
  background-color: var(--bg-primary);
  min-height: 5rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: .5rem;
  border-bottom: 2px solid #19465d;
  z-index: 1;
  position: sticky;
  top: 0px;
}
header h1{
  margin: 1rem;
  color: var(--text-tertiary);
  text-decoration: underline ;
  padding-bottom: 8px;
  
}
header svg{
  margin-left: 2.5vw;
  margin-bottom: 1px;
  height: 3rem;
  width: 3rem;
}
header svg path{
  fill: white;
}




/* MAIN */
main{
  display: grid;
  grid-template-columns: 1fr 8fr;
}
main>#sidebar{
  background-color: var(--bg-quaternary);
  border-right:#457f94 2px solid ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#sidebar{
  padding: .5rem;
}
#sidebar svg{
  height: 2rem;
  width: auto;
}
#sidebar ul+ul svg{
  height: 2.5rem;
}
#sidebar .header{
  display: flex;
  flex-direction: column;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: .5rem;
  margin-top: 1rem;
}
#sidebar ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar li{
  margin: .25rem;
}
#sidebar a{
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  white-space: nowrap;
}
main>#content{
  padding: .5rem;
  max-width: 75rem;
  justify-self: center;
}
main #card-container{
  padding: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
main .card{
  background-color: var(--bg-secondary);
  padding: .5rem;
  margin-bottom: .5rem;
  border: 2px solid black;
  border-radius: .5rem;

}
main .card.important{
  border: 2px solid black;
  /*FLAG*/
}
.header .right svg{
  height: 2rem; 
  width: 2rem;
}
.card svg,
.card img{
  height: 1.5rem;
  width: 1.5rem;
}
svg path{
  fill: black;
}
/*OPEN*/
.card .header,
.card .footer{
  display: flex;
  gap: 1rem;
}
.card .header div+div{
  font-size: 1.1rem;
  font-weight: 800;
  padding-bottom: 2px;
}
.card .due-date :first-child,
.card .priority :first-child{
  font-weight: 600;
}
.card .footer>div{
  display: flex;
  align-items: center;
  width: fit-content;
}
.card .description{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card .header:last-child,
.card .footer .button{
  margin-left:auto;
}
.card>.header .due-date{
  display: none;
}
.card>.header>.right{
  display: flex;
  gap: 1rem;
  margin-left:auto;
  align-items: center;
}
.card .header{
  align-items: center;
}
/*CLOSED*/
.card.hidden .description,
.card.hidden .footer>.due-date,
.card.hidden .footer>.priority,
.card.hidden .footer>.button{
  display: none;
}
.card.hidden .header .due-date{
  display: block;
  margin-left: auto
}
.card.hidden .header .due-date{
  font-size: .75rem;
}



/* FOOTER */
footer{
  background-color: var(--bg-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: .75rem;
}
footer svg{
  width: 1.2rem;
  height: 1.2rem;
}
footer svg path{
  fill: var(--text-tertiary);
}
footer :link{
  text-decoration: none;
  color: var(--text-tertiary);
}
footer :visited{
  color: var(--text-tertiary);
}

#sidebar a:hover{
  text-decoration: underline;
}
#sidebar a:active{
  color: rgb(160, 160, 160);
}

.card svg:hover{
  cursor: pointer;
}
.card svg:active{
  outline: 1px  black inset;
  background-color: rgba(0, 0, 0, 0.206);
}

form{
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: .25rem;
  position: absolute;
  top: 40vh;
  left: 40vw;
  background-color: #C1EEFF;
  border: 2px solid black;
  padding: 1rem;

}
#form-display{
  background-color: var(--bg-primary);
  height: 3rem;
  width: 3rem;
  border: 2px solid black;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
}
#form-display>svg{
  height: 2rem;
  width: 2rem;
}
#form-display>svg>path{
  fill: white;
}
#form-display:active{
  background-color: var(--bg-quaternary);
}
.radio-ctrl{
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.label{
  font-weight: bold;
}
form.hidden{
  display: none;
}