:root{
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --text-primary: black;
  --text-secondary: gray;
  --text-tertiary: white;

  --bg-primary: lightpink;
  --bg-secondary: lightblue;
  --bg-tertiary: lightgreen;
  --bg-quaternary: lightyellow;
}
html{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
body{
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-rows: 1fr 10fr 1.5rem;
}



/* HEADER */
header{
  background-color: var(--bg-primary);
  min-height: 4rem;
}



/* MAIN */
main{
  background-color: var(--bg-secondary);
  display: grid;
  grid-template-columns: 1fr 4fr;
}
main>#sidebar{
  background-color: var(--bg-quaternary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
main>#content{
  padding: .5rem;
}
main #card-container{
  padding: .25rem
}

main .card{
  background-color: white;
  padding: .5rem;
  margin-bottom: .5rem;
  border: 2px solid black;
  border-radius: .5rem;
}
.card svg{
  height: 1.5rem;
  width: 1.5rem;
}
svg path{
  fill: black;
}
/*OPEN*/
.card .header,
.card .footer{
  display: flex;
  gap: 1rem;
}
.card .header div+div{
  font-weight: 800;
}
.card footer>.due-date :first-child,
.card .priority :first-child{
  font-weight: 600;
}
.card .footer>div{
  display: flex;
  width: fit-content;
}
.card .description{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card .drop,
.card .delete{
  margin-left:auto;
}
.card>.header .due-date{
  display: none;
}
.card>.header>.right{
  display: flex;
  gap: 1rem;
  margin-left:auto;
  align-items: center;
}
.card .header{
  align-items: center;
}
/*CLOSED*/
.card.hidden .description,
.card.hidden .footer>.due-date,
.card.hidden .footer>.priority,
.card.hidden .footer>.button{
  display: none;
}
.card.hidden .header .due-date{
  display: block;
  margin-left: auto
}
.card.hidden .header .due-date{
  font-weight: 300;
}



/* FOOTER */
footer{
  background-color: var(--bg-tertiary);
}